body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden; /* Ensures no scrolling */
    position: relative; /* Needed to position the image */
}

header h1 {
    color: #333;
    position: absolute; /* Positions the text over the image */
    width: 100%; /* Full width */
    z-index: 10; /* Ensures the text is above the image */
}

header img {
    width: 100vw; /* Sets the image width to the viewport width */
    height: 100vh; /* Sets the image height to the viewport height */
    object-fit: cover; /* Ensures the image covers the area without distorting */
    position: absolute; /* Aligns the image properly */
    top: 0; /* Aligns the image to the top of the header */
}
